.site-footer {
    background-color: #f9f9f9;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-flag {
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}

.footer-content p {
    font-size: 0.9em;
    color: #777;
    margin: 10px 0;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-links li {
    margin: 0 10px;
}

.footer-links a {
    text-decoration: none;
    color: #4a6e94;
    transition: 0.3s ease-in-out;
    padding: 5px;
    border-radius: 25px;
}

.footer-links a:hover {
    color: #ffffff;
    transform: scale(1.1);
    background-color: #4a6e94;
}