body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero-image {
    background-image: url('https://i.ibb.co/yQckGXv/ELEMENTSIA.png');
    background-size: cover;
    background-position: center;
    height: calc(100vw / 1.414 * 0.5); /* Adjust height to maintain A4 landscape aspect ratio with cropping */
    position: relative;
    z-index: -1;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo .flag-icon {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.navbar-title {
    font-size: 18px;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-item {
    position: relative;
}

.navbar-item::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 2px;
    background: #007BFF;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar-item:hover::after {
    transform: scaleX(1);
}

.navbar-item a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    display: block;
    transition: color 0.3s;
}

.navbar-item a i {
    margin-right: 5px;
}

.navbar-item a:hover {
    color: #007BFF;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 10px;
    border-radius: 1px;
    z-index: 1;
}

.navbar-item:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

.departments .dropdown-menu {
    right: 0; /* Align to the right of the parent */
    left: auto; /* Prevent it from expanding outside the viewport */
}

.dropdown-menu a {
    padding: 10px 15px;
    white-space: nowrap;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
    color: #3f658d;
}

/* Welcome Section */
.welcome-section {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.welcome-container {
    max-width: 800px;
    margin: 0 auto;
}

.welcome-container h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}

.welcome-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666;
}

.welcome-highlights {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.highlight-link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #007BFF;
    background-color: #fff;
    border: 1px solid #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.highlight-link i {
    margin-right: 10px;
}

.highlight-link:hover {
    background-color: #007BFF;
    color: #fff;
    transform: translateY(-5px);
}

/* Footer Section */
.site-footer {
    background-color: #f0f0f0;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-flag {
    width: 30px;
    height: auto;
    margin-bottom: 10px;
}

.site-footer p {
    margin: 0;
    font-size: 0.9em;
    color: #777;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    gap: 15px;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s, transform 0.3s;
}

.footer-links a:hover {
    color: #0056b3;
    transform: scale(1.1);
}

.footer-links a i {
    margin-right: 5px;
}

/* Privacy Policy and Other Pages */
.page-content {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1em;
    color: #333;
}

.page-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.page-content p {
    margin-bottom: 20px;
}

.page-content ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.page-content ul li {
    margin-bottom: 10px;
}

/* Loader Section */
#loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    z-index: 10000;
}

.custom-loader {
    position: relative;
    width: 64px;
    height: 64px;
    margin-bottom: auto;
}

.custom-loader::before, .custom-loader::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: #3498db;
    animation: pulse 1s infinite ease-in-out;
}

.custom-loader::before {
    width: 64px;
    height: 64px;
    top: 0;
    left: 0;
    background-color: #396c8f;
    animation-delay: 0.4s;
}

.custom-loader::after {
    width: 48px;
    height: 48px;
    top: 8px;
    left: 8px;
    background-color: #f3f3f3;
    animation-delay: 0.8s;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.8);
        opacity: 0.5;
    }
}

.loader-footer {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.tiny-flag {
    width: 20px;
    height: auto;
    margin-bottom: 5px;
}

.loader-footer p {
    margin: 0;
    font-size: 0.9em;
    color: #777;
}
